discord.py-self
colorama
curl_cffi
httpx
python-dotenv
pyYAML
requests
groq
openai
PyNaCl
Pillow
pillow-heif
davey
python-telegram-bot
fastapi
uvicorn[standard]
python-multipart
pywebview
pystray
segno
